:root {
    --peach: #e7816b;
    --black: #1d1c1e;
    --white: #fff;
    --light-peach: #ffad9b;
    --dark-grey: #333136;
    --light-grey: #f1f3f5;

    --font: "Jost", sans-serif;
}

.header {
    display: flex;
    position: relative;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header .circle-hero {
    z-index: -1;
    background: url(../assets/contact/desktop/bg-pattern-hero-desktop.svg) no-repeat center left / cover;
    left: 0;
    width: 30%;
}

.header .txt-contact {
    display: flex;
    flex-direction: column;
    width: 28%;
    text-align: left;
    gap: 20px;
    color: var(--white);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 30%;
}

.form .form-control {
    width: 100%;
}

.form .form-control .form-input  {
    position: relative;
}

.form .form-control .form-input input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid var(--white);
    margin-bottom: 20px;
    padding-left: 15px;
    color: var(--white);
    font-weight: 500;
    letter-spacing: 1px;
}

.form .form-control .form-input input:not(:last-child):focus,
.form .form-control .form-input input:not(:last-child):valid {
    border-bottom: 2px solid var(--white);
}

.form .form-control .form-input input:not(:last-child) {
    padding-bottom: 15px;
}

.form .form-control .form-input input:last-child {
    padding-bottom: 60px;
}

.form .form-control .form-input input::placeholder {
    color: var(--light-grey);
}

.form .form-control .form-input i {
    position: absolute;
    top: 10%;
    right: 5%;
}
.form .form-control .form-input i.fa-circle-check {
    color: green;
    visibility: hidden;
}

.form .form-control .success i.fa-circle-check {
    visibility: visible;
}

.form .form-control .form-input i.fa-circle-exclamation {
    color: var(--white);
    visibility: hidden;
}

.form .form-control .error i.fa-circle-exclamation {
    visibility: visible;
}

.form .form-control .form-input span {
    position: absolute;
    top: 0%;
    right: 10%;
    font-style: italic;
    color: var(--light-grey);
    font-family: var(--font);
    font-weight: 400;
    letter-spacing: 1px;
    visibility: hidden;
}

.form .form-control .error span{
    visibility: visible;
}

.footer {
    padding: 60px 80px;
}

@media screen and (max-width: 80em){
    .header .circle-hero {
        width: 50%;
    }

    .header .txt-contact {
        width: 47%;
    }

    .form .form-control .error span {
        font-size: .8em;
        margin-right: 10px;
    }
}

@media screen and (max-width: 52.125em) {
    .header {
        flex-direction: column;
        height: auto;
        padding: 3.125em;
        gap: 2em;
    }

    .header .circle-hero {
        width: 90%;
        height: 100%;
    }

    .header .txt-contact {
        width: 100%;
    }

    .form {
        width: 100%;
    }
}

@media screen and (max-width: 31.25em) {
    .header {
        gap: 4em;
    }

    .header .circle-hero {
        background: url(../assets/contact/mobile/bg-pattern-hero-contact-mobile.svg)no-repeat center left / cover;
        width: 100%;
    }

    .header .txt-contact {
        text-align: center;
    }
}